.login-page{
  padding: 2rem 0;
}
.login {
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  max-width: 550px;
  padding: 1rem;
  text-align: center;
  background: #fff;
}
.login h1 {
  margin: 1rem 0;
  text-align: center;
}

.login-page #error {
  color: #e2665e;
}

.login form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
  .login form label{
    align-self: flex-start;
  }