.profile-page{
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 2rem;
    height: 100%;
}
.profile-page input{
	margin: 7px 0;
    width: 250px;
    height: 40px;
    padding: 0 5px;
    outline-width: none;
    border: none;
    border-bottom: 0.5px solid lightgrey;
}
.profile-page .side-bar{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	height: 100%;
	border-right: 1px solid #000;
	text-align: center;
	padding: 20px;
	color: #545454;
}
.profile-page .side-bar ul{
	display: flex;
	justify-content: center;
	gap: 1rem;
	flex-direction: column;
	margin: 1rem 0;
	font-size: 1.5rem;
	list-style: none;
	text-align: center;
}
.profile-page .side-bar ul li{
	width: 250px;
	height: fit-content;
    background-color: #fbfbfb;
    border: 1px solid #d3dce6;
    border-radius: 6px;
	padding: 5px 15px 6px 15px;
	border-bottom: 1px solid #d3dce6;
	cursor: pointer;
}
.profile-page .side-bar ul a {
	color: #545454;
	text-decoration: none;
}
.profile-page .side-bar ul .active li{
	color: #fff;
	background-color: #e2665e;
}
.profile-page .profile, 
.profile-page .registered-camp{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 1rem;
	background-color: #fbfbfb;
	width: 600px;
	height: fit-content;
	margin: 5rem;
	padding: 2rem;
	border: 1px solid #d3dce6;
    border-radius: 6px;
	color: #545454;
}
.nav-slidebar-button input{
    display: none;
}

.profile button,
.createCamp button{
    margin: 20px 0;
    width: 150px;
    cursor: pointer;
    font-weight: bolder;
    color: white;
    background-color: #e2665e;
    border: none;
    padding: 10px;
}
.profile-page .success{
    color: lightgreen;
  }

/* profile-page */
.profile-page .profile .edit{
	position: absolute;
	padding: 5px;
	border-radius: 2px;
	top: 1rem;
	right: 1rem;
	text-align: center;
	cursor: pointer;;
}
.profile .edit:hover,
.profile .edit:focus{
	background-color: lightgrey;
}
.profile .err{
	color: #e2665e;
}
.profile-page .profile .info{
	align-self: center;
	width: 75%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.profile-page .profile h3 span{
	font-weight: 400;
}
.profile-page .google-button{
    width: 250px;
    height: 40px;
    align-self: center;
    text-decoration: none;
    padding: 12px 16px 12px 42px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
    color: #494949;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
    background-color: white;
    background-repeat: no-repeat;
    background-position: 50px 12px;
}
.profile-page .connected{
	background-color: #cfcfcf;
	color: black;
}

.profile-page ul button{
	padding: 1rem;
	font-size: 1rem;
	font-weight: bold;
	text-align: center;
    color: #545454;
	background-color: #fff;
	border: 1px solid #545454;
	border-radius: .4rem;
	transition: .2s;
	cursor: pointer;
  }
  
.profile-page ul button:hover {
	border: 1px solid #e2665e;
	background-color: #e2665e;
	color: #fff;
  }

@media screen and (max-width: 820px) {
	.profile-page{
		display: block;
		height: 100vh;
	}
	.profile-page .profile, 
	.profile-page .createCamp,
	.profile-page .contact,
	.profile-page .registered-camp{
		width: calc(100% - 2rem );
		margin: 1rem;
		padding: 1rem;
	}
	.profile-page .nav-slidebar-button{
		z-index: 2;
	}
	.profile-page .nav-slidebar-button label {
		position: sticky;
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
		z-index: 6;
      }
	  .profile-page .nav-slidebar-button  #slidebar-profile:checked ~ label{
        background-color: rgba(0, 0, 0, 0.3);
      }
  	.profile-page .nav-slidebar-button label > span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #e2665e;
		z-index: 6;
      }
  	.profile-page .side-bar {
        position: absolute;
        display: flex;
		flex-direction: column;
        align-items: center;
        transition: all 0.1s ease;
        width: 100%;
		min-height: 100%;
        overflow-y: hidden;
		background-color: #f9fafc;
        left: -100%;
        z-index: 5;
      }

	  .profile-page ul li{
		margin: 0 1rem;
	  }
	  .profile-page .nav-slidebar-button #slidebar-profile:checked ~ .side-bar {
		left: 0;
      }

	  .profile-page .contact .icons a {
		width: 75%;
	  }
	  .profile-page .profile .info{
		flex-direction: column;
		align-items: flex-start;
	  }
}
