.main-error {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    text-align: center;
}

.error-h1 {
    color: black;
    letter-spacing: .10em;
    padding: .5em 0;
    text-shadow: .05em .05em 0 rgba(0, 0, 0, .25);
    white-space: nowrap;
}

.error-h1>span {
    animation: spooky 2s alternate infinite linear;
    color: black;
    display: inline-block;
}


.error-p {
    color: #ccc;
}

@keyframes spooky {
    from {
        transform: translatey(.15em) scaley(.95);
    }

    to {
        transform: translatey(-.15em);
    }
}
