*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
  word-break: break-word;
}

body{
  background-color: #e1e1e1;
}